<h1 style="font-size: 1.5em; line-height: 2em">Hola</h1>

<p>Estás recibiendo este correo electrónico porque has solicitado un restablecimiento de contraseña para su cuenta de usuario en 127.0.0.1:8000.</p>

<p>Ingresa a la siguiente página y elije una nueva contraseña:</p>

<p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>

<p> Tu nombre de usuario, por si lo has olvidado es:<b> {{user.username}} </b></p>

<p>¡Gracias por usar nuestro sitio!</p>
